.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    height: 64px;
    align-items: center;

    a {
        text-decoration: none;
    }

    .logo {
        font-size: 15px;
        font-weight: bold;
        color: #73777A;
        font-family: 'Archivo Black', sans-serif;
    }

    ul {
        display: flex;
        gap: 44px;
        list-style: none;

        a {
            font-weight: 600;
            color: #F3F3F3;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}
