.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    height: 64px;
    // background-color: #2E2B2C;
    align-items: center;
    caret-color: transparent;

    a {
        text-decoration: none;
    }

    .logo {
        font-size: 15px;
        font-weight: bold;
        color: #7D8182;
        font-family: 'Archivo Black', sans-serif;
    }

    ul {
        display: flex;
        gap: 42px;
        list-style: none;

        a {
            font-weight: 600;
            color: #EAEAEA;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}