.navbar {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 20px 30px;
    background-color: #2E2B2C;
    align-items: center;
    caret-color: transparent;

    a {
        text-decoration: none;
    }

    .logo {
        color: #7D8182;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Archivo Black', sans-serif;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            margin-left: 20px;

            a {
                color: #EAEAEA;
                font-weight: 600;

                &:hover {
                    color: #FFFFFF;
                }
            }

        }
    }
}