header {
    display: flex;
    padding: 20px 30px;
    align-items: start;
    align-items: stretch;
    caret-color: transparent;
    cursor: default;

    h1 {
        line-height: 0.8;
        margin-right: 20px;
        font-size: 136px;
        color: white;
    }

    p {
        flex-grow: 1;
        letter-spacing: -2px;
        font-weight: 600;
        font-size: 23px;
        color: #818A8B;
    }

    div {
        display: flex;
        gap: 10px;

        a {
            img {
                width: 30px;
            }
        }
    }

}