<article>
    <div class="article-content">
        <time>November 11,2024</time>
        <h1>The Timeless Allure of Film Photography</h1>
        <p>8 min read</p>
        <p class="article-sumary">In the digital agem where cameras are In everyone's pocket, the resurgence of<br>
            film photography might seem<br>surprising. Yet, it has evolved from a<br>medium of
            necessity to a cherished art<br>from. What makes film photography so<br>enduringly
            relevant in a word<br>dominated by pixels?</p>
        <nav>
            <button><a href="#">Trends</a></button>
            <button><a href="#">Photography</a></button>
            <button><a href="#">Films</a></button>
        </nav>
    </div>

    <img src="/assets/film-phoyography.png" />
</article>