.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    caret-color: transparent;

    h1 {
        flex-grow: 1;
        font-size: 50px;
        color: #2D2A2B;
    }

    button {
        padding: 10px 150px 10px 150px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #EA7060;
        font-weight: bold;
        color: #3D1915;
    }
}
