.podcast-container {
    display: flex;
    padding: 16px;
    background-color: transparent;
    border-radius: 4px;
    caret-color: transparent;
    border: 1px solid #C1C5C8;

    img {
        width: 36%;
    }

    .podcast-content {
        padding: 0px 10px 0px 10px;
        width: 100%;

        p {
            padding: 8px 0 0 0;
            font-size: 12px;
            font-weight: bold;
            color: #848386;
        }

        h1 {
            padding: 0 0 10px 0;
            color: #1C1C1C;
        }

        ul {

            list-style: none;

            li {
                display: flex;
                gap: 10px;
                padding: 4px 0 4px 0;
                border-bottom: 1px solid #A9A8AB;
                color: #565656;

                .track-cod{
                    font-weight: bold;
                }

                .track-name {
                    flex-grow: 1;
                    font-weight: bold;
                }

                .play-button {
                    cursor: pointer;
                }

                .track-duration {
                    color: #B7BAB9;
                    font-weight: 600;
                }
            }
        }
    }
}