.podcast-container {
    display: flex;
    margin: 0px 30px 50px 30px;
    padding: 10px;
    max-width: 55%;
    background-color: white;
    border-radius: 4px;
    caret-color: transparent;

    img {
        width: 36%;
    }

    .podcast-content {
        padding: 0px 10px 0px 10px;
        width: 100%;

        ul {

            list-style: none;

            li {
                display: flex;
                gap: 10px;
                border-bottom: 1px solid;

                .track-name {
                    flex-grow: 1;
                }

                .play-button {
                    cursor: pointer;
                }
            }
        }
    }
}