/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2E2B2C;
    font-family: 'Inter', sans-serif; /* Fonte padrão para o texto */
}
